h1{
    color: green;
    font-size: 30px;
}
p [title][href="http://google.com/"]{
    color: green;
    font-size: 30px;
}

#paragraf1 {
    color: white;
    background-color: #000;
}

#paragraf2 {
    font-family: monospace;
    font-style: italic;
}
.text-content {
    border: 5px solid black;
}
.myClass1.my-class2 {
    border: 5px dotted red;
}
