body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_Form1
{
   background-color: #FFFFFF;
   border: 0px #000000 solid;
   -moz-box-shadow: 1px 1px 6px #808080;
   -webkit-box-shadow: 1px 1px 6px #808080;
   box-shadow: 1px 1px 6px #808080;
}
#name-block
{
   border: 1px #FFFFFF none;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   text-align: center;
   vertical-align: middle;
   -moz-box-shadow: 0px 1px 0px #000000;
   -webkit-box-shadow: 0px 1px 0px #000000;
   box-shadow: 0px 1px 0px #000000;
}
#Button1
{
   border: 0px #A9A9A9 solid;
   background-color: #E9967A;
   color: #FFFFFF;
   font-family: Georgia;
   font-weight: normal;
   font-style: italic;
   font-size: 16px;
}
#Button1:hover
{
   background-color: #A52A2A;
   -webkit-transition: background-color 500ms linear 0ms;
   -moz-transition: background-color 500ms linear 0ms;
   -ms-transition: background-color 500ms linear 0ms;
   transition: background-color 500ms linear 0ms;
}
#Button1:active
{
   background-color: #A9A9A9;
   -webkit-transition: background-color 200ms linear 0ms;
   -moz-transition: background-color 200ms linear 0ms;
   -ms-transition: background-color 200ms linear 0ms;
   transition: background-color 200ms linear 0ms;
}
#wb_header div
{
   text-align: center;
}
#Image1
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#email-block
{
   border: 1px #FFFFFF none;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   text-align: center;
   vertical-align: middle;
   -moz-box-shadow: 0px 1px 0px #000000;
   -webkit-box-shadow: 0px 1px 0px #000000;
   box-shadow: 0px 1px 0px #000000;
}
#Editbox1
{
   border: 1px #FFFFFF none;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   text-align: center;
   vertical-align: middle;
   -moz-box-shadow: 0px 1px 0px #000000;
   -webkit-box-shadow: 0px 1px 0px #000000;
   box-shadow: 0px 1px 0px #000000;
}


a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
h1
{
   font-family: Georgia;
   font-weight: normal;
   font-size: 32px;
   font-style: italic;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h2
{
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h3
{
   font-family: Arial;
   font-weight: normal;
   font-size: 24px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h4
{
   font-family: Arial;
   font-weight: normal;
   font-size: 21px;
   font-style: italic;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h5
{
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h6
{
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
.CustomStyle
{
   font-family: "Courier New";
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   color: #000080;
   background-color: transparent;
}
.knopka-style
{
   font-family: Georgia;
   font-weight: normal;
   font-style: italic;
   text-decoration: none;
   color: #FFFFFF;
   background-color: transparent;
}
