body {
    background-color: #DCDCDC;
    font-family: Arial, Helvetica, sans-serif;
}

.layout {
    width: 60%;
    height: 100%;
    position: absolute;
    left: 19%;
    font-family: Arial, Helvetica, sans-serif;

}
.header{
    position: relative;
    text-align: right;
    font-weight: bold;
    font-size: 15px;
    line-height: 0.1em;

}
.logo {
    display: block;
    position: absolute;
}
.top-right-tel {
    alignment: right;
    font-size: 30px;
    font-weight: bold;
    color: @color-tel;
}

.lead {
    background-color: #E7E7E7;
    text-align: center;
    padding: 2% 15% 2% 15%;

}
h3 {
    font-size: 13px;
    color: #A52A2A;
    text-transform: uppercase;
}
h1 {
    font-size: 22px;
    color: black;
    font-weight: bolder;
}
h2 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.lead>p {
    font-size: 12px;
    letter-spacing: 1px;
}

.button-wrap {
    padding-left: 5%;
    padding-top: 15px;
    padding-bottom: 20px;

}

a.button {
    color: #fff;
    text-decoration: none;
    user-select: none;
    text-transform: uppercase;
    font-weight: bold;
    background: rgb(212,75,56);
    padding: .7em 1.5em;
    outline: none;
    border-radius: 5px;
    width: 230px;

}
a.button:hover {
    background: rgb(232,95,76);
}
a.button:active {
    background: rgb(152,15,0);
}

li {
    color: green;
}
li span {
    color: black;
}

.block-white {
    background-color: #fff;
    margin-top: 0;
    padding: 2% 3%;
}

.block-green {
    background-color: lightseagreen;
    padding: 2% 3%;
}
footer {
    font-size: 10px;
    color: #5C5B5B;
    padding-top: 20px;

}
.foot-l {
    float: left;
    position: relative;
    width: 50%;
    padding-bottom: 20px;

}
.foot-r {
    float: left;
    text-align:right;
    position: relative;
    width: 50%;
}