.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-Add {
    width: 24px;
    height: 24px;
    background-position: -5px -5px;
}

.sprite-Clock {
    width: 24px;
    height: 24px;
    background-position: -39px -5px;
}

.sprite-Delete {
    width: 24px;
    height: 24px;
    background-position: -5px -39px;
}
