.plate {
   width:100%;
   height: 30px;
   background: orange;
   position: absolute;
   left: 0;
}

.plate-text {
   color:#FFFFFF;
   font-size:15px;
   text-align: center;
   padding-bottom: -95px;
   }
a.plate-text {
   color:#FFFFFF;
   text-decoration: none;
   border-bottom: 1px dotted #FFFFFF;

}
.plate-times {
   font-size:25px;
   font-weight: 500;
}

div#container {
      /*text-align: center;*/
}

.header {
   width: 800px;
   height: 100px;
   margin: 0 auto;
   position: relative;
}
.logo {
   display: block;
   /*text-indent: -10em;*/
   position: absolute;
   top: 15px;

}
.top-menu {
   font-size: 13px;
   right: 30%;
   margin: 0;
   list-style-type: none;
   position: relative;
   top: 40px;
   float: right;
}
.menu-item {
   float: left;
   margin: 0 20px 0 0
}
.menu-link {
   text-decoration: none;
   color: brown;
   font-family: sans-serif;
}

.nav-dotted
{
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   border-bottom: 1px dashed #000080;
   color: #FF8000;
}

.tel {
   position: absolute;
   right: 0;
   top: 20px;
   font-family: sans-serif;
   text-align: left;
}
.tel p {
   margin: 0;
   padding: 0;
}
.tel-number {
   font-weight: 800;
   font-size: 25px;
}

.h1-orange {
   color:#FF8000;
   font-family:Arial;
   font-size:35px;
   padding-top: 10px;
   text-align: center;
   }

.ugol {
   width:60%;
   height:200px;
   background: lightgrey;
   -moz-border-radius: 20px;
   -webkit-border-radius: 20px;
   border-radius: 20px;
   padding: 15px;
   position: relative;
   margin: 0 auto;
}

h1
{
   font-family: Tahoma;
   font-weight: normal;
   font-size: 48px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;

}

h3
{
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   color: #000000;
   display: inline;
   position: absolute;
   padding-right: 300px;
   }

.econom {
   position: absolute;
   right: -150px;
   bottom: 0px;

}

a
{
   color: #0000FF;
   text-decoration: underline;
}

.footer {
    width: 800px;
    position: relative;
    margin-left: 15%;
    margin-right: 20%;

}

.footer-item {
    float: left;
    list-style-type: none;
    margin: 0 20px 0 0;
    font-weight: bold;
   width: 200px;
}

.footer-link {
    color: #FF8000;

}

.nav-names
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   color: #FF8000;
   background-color: transparent;
}

#Line1 {
   background-color: #A0A0A0;
   height: 1px;
   width: 70%;
   position: relative;
   margin: 0 auto;

}

